jshellapi:

  # Public API Config
  regularSessionTimeoutSeconds: 1800
  oneTimeSessionTimeoutSeconds: 30
  evalTimeoutSeconds: 15
  evalTimeoutValidationLeeway: 5
  sysOutCharLimit: 1024
  maxAliveSessions: 10

  # Docker limits config
  dockerMaxRamMegaBytes: 128
  dockerCPUsUsage: 0.5
  dockerCPUSetCPUs: 0

  # Internal config
  schedulerSessionKillScanRateSeconds: 10

  # Docker service config
  dockerResponseTimeout: 60
  dockerConnectionTimeout: 60

  # JShellWrapper related
  jshellWrapperImageName: ${JSHELL_WRAPPER_IMAGE_NAME}

server:
  error:
    include-message: always

logging:
  level:
    org:
      springframework:
        web: DEBUG
      togetherjava:
        jshellapi: DEBUG
